		<footer>
			<hr>
			<p>Coded by <a href="http://anotherconsolelog.com">Chazona Baum</a>, &#169; 2016. All Rights Reserved.</p>
		</footer>
		<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/05e1351669.js"></script>
		<script src="application.js"></script>
	</body>
</html>